body {
  overflow-x: hidden;
  overflow-y: auto;
  text-align: center;
  font-family: "Times New Roman", Times, serif;
  scroll-behavior: smooth;
}

#homePage {
  height: 100vh;
  /* background-image: linear-gradient(
    to top,
    rgb(6, 119, 175),
    rgb(2, 57, 121)
  ); */
  background-image: linear-gradient(
    to top,
    rgb(6, 119, 175),
    rgb(2, 57, 121)
  );
  margin: 0;
  padding-top: 50px;
}

#homePage a {
  color: #96d0e4;
  text-decoration: none;
  font-size: 30px;
  font-weight: bold;
  margin-right: 50px;
}

#homePage h1 {
  text-align: center;
  font-size: 80px;
  font-weight: bold;
  font-family: "Times New Roman", Times, serif;
  color: #89d1e9;
  padding-top: 50px;
}

.welcometext {
  text-align: center;
  font-size: 50px;
  font-weight: bold;
  font-family: "Times New Roman", Times, serif;
  color: #add8e6;
  margin-top: 25vh;
  margin-right: 50px;
}

#projects {
  text-align: center;
  display: grid;
  column-gap: 10px;
  row-gap: 10px;
  border-top: 1px;
  border-color: black;
  /* background-color: rgb(2, 57, 121); */
  background-color: white;
  margin: 0;
  overflow-x: hidden;
  
}

.project-grid {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-template-rows: repeat(2, 1fr);
  gap: 30px; /* Adjust this value to increase/decrease the gaps between cards */
  justify-items: center;
  align-items: start; /* You can change this if you want to align items differently */
  padding: 20px;
  margin-top: 0;
  margin-bottom: 0;
}

.projects-header{
  margin-top:50px;
}

.header {
  margin-bottom: 50px;
  width: 100%;
  font-size: 80px;
  font-weight: bold;
  font-family: "Times New Roman", Times, serif;
  /* color: #add8e6; */ 
  color: rgb(2, 57, 121);
  position: relative;
  top: 0;
}

.project-card {
  width: 40rem;
  height: 80vh !important;
  background-color: #e6f7ff !important;
  border-style: solid;
  border-color: rgb(6, 119, 175) !important;
  border-width: 3px !important;
}

.card-img{
  border-style: none !important;
  border-bottom-style: solid!important;
  border-bottom-color: rgb(6, 119, 175) !important;
  border-width: 1px !important;
}

.card-text-box{
  border-style: none !important;
}

#aboutme {
  background-color: #add8e6;
  margin: 0;
  height: 100vh;
  padding-top: 50px;
}

.aboutme-header{
  margin-top:50px;
  color:rgb(6, 119, 175);
}
